.loader{
    position: fixed;
    top:0;
   right:0;
    width:99vw;
    height:100vh;
    background-color: #32CD32;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    transition:3000ms;
  }
  .finish{
  opacity: 0;
  }